<!-- Navbar -->

  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/" >
        <strong class="blue-text">Energy Management</strong>
      </a>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'prediction:showplot' %}" class="btn btn-indigo">Show Predictions</a>
        <a href="{% url 'prediction:choose-model' %}"class="btn btn-primary"> Choose model</a>

      </div>
      

    </div>
  </nav>
  <!-- Navbar -->