{% extends "base.html" %}

{% block content %}
<div class="container">
    <main>
        <hr>
        <h1>Load and Prepare Dataset</h1>
        <hr>
        <form action="{% url 'prediction:preprocessing' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file_csv">Select a txt file with the data to be processed: <label>
            
            {{ form }}
            <input class="btn btn-success" type="submit" value="Upload Txt" name="submit">
        </form>
    </main>
    <hr>

    
</div>   

{% endblock content %}